body {
  
  
} 

/* .formdesign {
  font-size: 50px;
} */

/* .formdesign input {
 
  padding: 12px 20px;
  border: 1px solid blue;
  margin: 14px;
  border-radius: 4px;
  font-size: 15px;
} */

/* .formerror {
  color: red;
} */

.but {
  border-radius: 9px;
  width: 100px;
  height: 50px;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 50px;
}
.class{
  

}
h1{
margin-left: 100px;
}
.form{
  width: 280px;
  height: 300px;
  background-position: 10px 10px;
  margin-left:600px ;
  margin-top:200px ;
  
background-color: rgb(65, 15, 244);
}